{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="px-4 py-5 my-5 text-center">
    {% if status %}
    <h1 class="display-5 fw-bold text-body-emphasis">Found!!</h1>
    <div class="col-lg-6 mx-auto shadow-lg p-3 mb-5 bg-white rounded mt-5">
        <div class="justify-content-lg-center py-5 fs-2" style="font-size:25px">
            <p style="font-weight:bold">Contact Details</p>
            <p>Name: {{name}}</p>
            <p>Phone: {{phone}}</p>
            <p>Location: {{location}}</p>
            <a href="/get_image" class="btn btn-dark" role="button" style="background-color:rgb(33, 52, 88);">Get
                Image</a>
        </div>
    </div>
    {% else %}
    <h1 class="display-5 fw-bold text-body-emphasis">Not Found yet</h1>
    {%endif%}
</div>
{% endblock %}