{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form action="/unknownForm" method="POST" enctype="multipart/form-data">
    <h3 align="center" class="my-3">Child Information (Unknown)</h3>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" />
    </div>
    <div class="form-group">
        <label for="phone">Contact No.</label>
        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Contact No." />
    </div>
    <div class="form-group">
        <label for="locatn">Location</label>
        <input type="text" class="form-control" id="locatn" name="locatn" placeholder="Enter Last Seen Location" />
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" name="image" placeholder="Upload Image" />
    </div>
    <br />
    <button type="submit" class="btn btn-dark" style="background-color:rgb(33, 52, 88);">Submit</button>
</form>
{% if child %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Found {{child}}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Please Contact -> {{contact}}
        </p>
    </div>
</div>
{% endif %}
{% endblock %}